h1 {
    font-weight: 700;
    cursor: default;
}

@keyframes headerAnimation{
    0% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

.vertical-side {
    border-left: 1px solid rgb(255, 255, 255);
}

.border-side:not(:last-child) {
    border-right: 1px solid rgb(255, 255, 255);
}

.background-intro {
    padding-top: 3rem;
    background: url('../images/photos/collision-banner.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-header {
    color: rgb(255, 255, 255);
    margin: 2rem auto 4rem auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
    animation: headerAnimation 2s 1 0s ease-in-out;
}

#intro-icons-wrap {
    display: block;
    margin: auto;
    max-width: 700px;
}

#intro-icons {
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;
}

#intro-text {
    margin: auto;
    color: rgb(83, 183, 132);
    font-weight: 600;
    text-align: center;
}

#intro-text :not(p) {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.background-blue-bar {
    background-color: rgba(0, 60, 113, .9);
    width: 100%;
    padding: 1rem;
}

#certified-header {
    margin-bottom: 1.5rem;
    animation: headerAnimation 2s 1 0s ease-in-out;
}

#why-holman-wrap {
    display: block;
    margin: auto;
    max-width: 1080px;
    padding-bottom: 1rem;
}

#why-holman {
    color: rgb(0, 60, 113);
    margin: 2rem auto;
    animation: headerAnimation 2s 1 0s ease-in-out;
}

#why-holman-block-wrap {
    display: block;
    margin: auto;
    background-color: rgb(194, 223, 211);
    padding: 1rem;
    border-radius: 7px;
    max-width: 270px;
    margin-bottom: 2rem;
}

#why-line {
    border-bottom: 3px solid rgb(0, 60, 113);
    margin: 1rem auto;
}

#why-holman-icons {
    display: block;
    margin: auto;
    width: 100px;
}

.background-history {
    background: url('../images/photos/holman_history.png');
    padding: 3rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#history-wrap {
    margin: auto;
    max-width: 1080px;
}

#history-header {
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}

#history-text {
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
}

#history-btn {
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: rgb(0, 60, 113);
}

#history-btn:hover {
    background: rgb(0, 60, 113);
    color: rgb(255, 255, 255);
}

.holman-icon-wrap {
    display: block;
    margin: 2rem auto;
    max-width: 850px;
}

#history-icons {
    display: block;
    margin: auto;
    width: 150px;
    height: 98px;
}
