html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 245);
}

.logo {
    width: 150px;
}

footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 60, 113);
    padding: 2.5rem;
}

footer > div > p {
    color: rgb(255, 255, 255);
}
