.certification-intro {
    padding: 3rem;
    background-image: url('../images/photos/banner2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.certified-block {
    padding: 3rem;  
}

.certified-card {
    display: block;
    margin: 1rem auto;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid rgb(235, 235, 235);
    padding: 1.5rem;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
}
