#location-wrap {
    display: block;
    margin: 2rem auto;
    max-width: 1040px;
    padding: 2rem;
}

.location-intro {
    padding: 3rem;
    background-image: url('../images/banners/location-banner.png');
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hours-wrap {
    display: block;
    margin: 2rem auto 7rem auto;
    max-width: 450px;
}

#map-wrap {
    display: block;
    margin: auto;
    padding: 1rem;
}

#map {
    display: block;
    margin: 2rem auto;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    width: 100%;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
}

.table th, .table td {
    border-top: 1px solid rgba(255, 255, 255, 0) !important;
}

#header-icon {
    margin-top: -7px;
    width: 33px;
    height: 33px;
}

#address-text {
    display: block;
    margin: 1.5rem auto auto auto;
    font-weight: 600;
    font-size: 1.3rem;
}

#address-text > a {
    color: rgb(0, 60, 113);
}

#address-text > a:hover {
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

#hours-wrap > .table th, .table td {
    padding: .35rem !important;
}

#address-header,
#hours-header {
    color: rgb(0, 60, 113);
}
