#location-wrap {
    display: block;
    margin: 2rem auto;
    max-width: 1040px;
}

.location-intro {
    padding: 3rem;
    background-image: url('../images/banners/location-banner.png');
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hours-wrap {
    display: block;
    margin: 2rem auto 7rem auto;
    max-width: 350px;
}

#map {
    display: block;
    margin: 3rem;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    width: 100%;
    max-width: 600px;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
}

.table th, .table td {
    border-top: 1px solid rgba(255, 255, 255, 0) !important;
}

#time-icon {
    margin-top: -7px;
    width: 35px;
    height: 35px;
}

#address-text {
    margin-top: 3rem;
    font-weight: 600;
    font-size: 1.3rem;
}

#address-text > a {
    color: rgb(0, 60, 113);
}

#address-text > a:hover {
    font-weight: 700;
    text-decoration: none;
}

#hours-wrap > .table th, .table td {
    padding: .5rem !important;
}

#hours-header {
    color: rgb(0, 60, 113);
}
