@keyframes logoAnimation{
    0% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

.nav-wrap {
    width: 100%;
    background-color: rgb(250, 250, 250);
    animation: logoAnimation 1s 1 0s ease-in-out;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .2);
}

#nav {
    margin: auto;
    max-width: 1080px;
}

.bg-nav {
    background-color: rgb(250, 250, 250);
}

nav > a.navbar-brand > img.logo {
    width: 225px;
}

a.nav-link {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1.5rem;
}
